<link href="/components/bx.catalog.element.colors-size/style.css" rel="stylesheet">

<div class="item_info_section" id="bx_117848907_6_skudiv">
  <div class="row">
    <div class="col-xs-6 item-prices">
      Старая цена
      <span class="item-price"><s><b>5 360</b></s> <sup class="rouble"><small>руб.</small></sup></span>
    </div>
    <div class="col-xs-6 item-prices i-new">
      Выгода
      <span class="item-price"><b>1000</b> <sup class="rouble"><small>руб.</small></sup></span>
    </div>
  </div>
  <hr class="i-line i-size-S">
  <div class="item-prices text-center">
    <b>Цена</b>
    <div class="item-price i-price"><b>4 360</b> <sup class="rouble"><small>руб.</small></sup></div>
  </div>
  <!--<div class="row">
    <div class="col-xs-4 item-colors">Цвет</div>
    <div class="col-xs-8">
      <div class="bx_item_detail_scu" id="bx_117848907_6_prop_31_cont">
        <div class="bx_scu_scroller_container"><div class="bx_scu">
          <ul id="bx_117848907_6_prop_31_list" style="width: 100%; margin-left: 0%;">
            <li data-treevalue="31_1" data-onevalue="1" style="width: 20%; padding-top: 20%;" class=""><i title="Фиолетовый"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Фиолетовый"></span></span></li>
            <li data-treevalue="31_2" data-onevalue="2" style="width: 20%; padding-top: 20%; display: ;" class="bx_missing"><i title="Коричневый"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/2.jpg');" title="Коричневый"></span></span></li>
            <li data-treevalue="31_3" data-onevalue="3" style="width: 20%; padding-top: 20%; display: ;" class="bx_missing"><i title="Морской Волны"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/3.jpg');" title="Морской Волны"></span></span></li>
            <li data-treevalue="31_4" data-onevalue="4" style="width: 20%; padding-top: 20%; display: ;" class="bx_missing"><i title="Синий"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/4.jpg');" title="Синий"></span></span></li>
            <li data-treevalue="31_5" data-onevalue="5" style="width: 20%; padding-top: 20%; display: ;" class="bx_missing"><i title="Оранжевый с Красным"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Оранжевый с Красным"></span></span></li>
            <li data-treevalue="31_6" data-onevalue="6" style="width: 20%; padding-top: 20%; display: ;" class="bx_missing"><i title="Красный с Синим"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Красный с Синим"></span></span></li>
            <li data-treevalue="31_7" data-onevalue="7" style="width: 20%; padding-top: 20%;" class=""><i title="Красный"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Красный"></span></span></li>
            <li data-treevalue="31_8" data-onevalue="8" style="width: 20%; padding-top: 20%;" class=""><i title="Зеленый"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Зеленый"></span></span></li>
            <li data-treevalue="31_9" data-onevalue="9" style="width: 20%; padding-top: 20%;" class="bx_active"><i title="Белый"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Белый"></span></span></li>
            <li data-treevalue="31_10" data-onevalue="10" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Черный"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Черный"></span></span></li>
            <li data-treevalue="31_11" data-onevalue="11" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Розовый"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Розовый"></span></span></li>
            <li data-treevalue="31_12" data-onevalue="12" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Голубой"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Голубой"></span></span></li>
            <li data-treevalue="31_13" data-onevalue="13" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Синяя джинса"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Синяя джинса"></span></span></li>
            <li data-treevalue="31_14" data-onevalue="14" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="Черный с Белым и Цветочки"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="Черный с Белым и Цветочки"></span></span></li>
            <li data-treevalue="31_0" data-onevalue="0" style="width: 20%; padding-top: 20%; display: none;" class="bx_missing"><i title="-"></i>
            <span class="cnt"><span class="cnt_item" style="background-image:url('/upload/bx-colors/1.jpg');" title="-"></span></span></li>
          </ul>
          </div>
          <div class="bx_slide_left" style="display: none;" id="bx_117848907_6_prop_31_left" data-treevalue="31"></div>
          <div class="bx_slide_right" style="display: none;" id="bx_117848907_6_prop_31_right" data-treevalue="31"></div>
        </div>
      </div>
    </div>
  </div>-->
  <hr class="i-line">
  <div class="item-sizes text-center"><b>Выберите размер</b></div>
  <hr class="i-size-S">
  <div class="bx_size_scroller_container">
    <div class="bx_size">
      <div class="bx_item_detail_size full" id="bx_117848907_6_prop_30_cont">
        <ul class="" role="menu" aria-labelledby="catalog-element-size" id="bx_117848907_6_prop_30_list">
          <li data-treevalue="30_10" data-onevalue="10" style="width: 20%;" class="bx_active"><i></i><span class="cnt">40/42</span></li>
          <li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">42/44</span></li>
          <li data-treevalue="30_12" data-onevalue="12" style="width: 20%;" class=""><i></i><span class="cnt">44/46</span></li>
          <li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">46/48</span></li>
          <li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class=""><i></i><span class="cnt">48/50</span></li>
          <li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">50/52</span></li>
          <li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">52/54</span></li>
          <li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span></li>
        </ul>
        <!--<div class="bx_size_scroller_container"><div class="bx_size">
          <ul id="bx_117848907_6_prop_30_list" style="width: 100%; margin-left: 0%;">
            <li data-treevalue="30_10" data-onevalue="10" style="width: 20%;" class="bx_active"><i></i><span class="cnt">40/42</span></li>
            <li data-treevalue="30_11" data-onevalue="11" style="width: 20%;" class=""><i></i><span class="cnt">42/44</span></li>
            <li data-treevalue="30_12" data-onevalue="12" style="width: 20%;" class=""><i></i><span class="cnt">44/46</span></li>
            <li data-treevalue="30_13" data-onevalue="13" style="width: 20%;" class=""><i></i><span class="cnt">46/48</span></li>
            <li data-treevalue="30_14" data-onevalue="14" style="width: 20%;" class=""><i></i><span class="cnt">48/50</span></li>
            <li data-treevalue="30_15" data-onevalue="15" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">50/52</span></li>
            <li data-treevalue="30_16" data-onevalue="16" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">52/54</span></li>
            <li data-treevalue="30_0" data-onevalue="0" style="width: 20%; display: none;" class="bx_missing"><i></i><span class="cnt">-</span></li>
          </ul>
          </div>
          <div class="bx_slide_left" style="display: none;" id="bx_117848907_6_prop_30_left" data-treevalue="30"></div>
          <div class="bx_slide_right" style="display: none;" id="bx_117848907_6_prop_30_right" data-treevalue="30"></div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="item-sizes text-center"><a href=""><b>Таблица размеров</b></a></div>
</div>