<div class="col-sm-7 col-md-6 item-information">
  

  <article>
  
    <div class="row">
      <div class="col-sm-6">

        <div class="item-features">
        
          <!--#include virtual="/components/bx.catalog.element/colors-size.html"-->
          <hr class="i-line">
          <div class="item-sizes text-center"><b>КОЛИЧЕСТВО<br><span class="text-large"><span id="CatalogElementQuantity">1</span> ШТ.</span></b></div>
          <a href="javascript:void(0);" class="btn btn-default btn-size-L btn-100 bj-cart-button" id="bx_117848907_2676_buy_link"><span></span>Добавить в корзину</a>
          
        </div>
      </div>
      
      <hr class="visible-xs">
      
      <div class="col-sm-6">
        <div class="text-center bj-catalogue-label">
          <div class="bj-catalogue__code text-right">Код товара: <b>7078</b></div>
          <a href="" class="bj-catalogue__brand">
            <img src="/upload/brand/1.jpg" class="img-responsive center-block">
          </a>
        </div>
        <hr>
        <h6>ПОКУПАЯ, ВЫ ПОЛУЧИТЕ</h6>
        <hr class="i-size-S">
        <div class="row">
          <div class="col-xs-6 text-center bj-catalogue-label">
            <div class="bj-catalogue-label__icon">
              <img src="/template/images/icons/delivery.gif" class="img-responsive center-block">
              Примерка перед покупкой
            </div>
          </div>
          <div class="col-xs-6 text-center bj-catalogue-label">
            <div class="bj-catalogue-label__icon">
              <img src="/template/images/icons/delivery.gif" class="img-responsive center-block">
              Бесплатная доставка
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center bj-catalogue-label">
            <div class="bj-catalogue-label__icon">
              <img src="/template/images/icons/delivery.gif" class="img-responsive center-block">
              Итальянская ткань
            </div>
          </div>
          <div class="col-xs-6 text-center bj-catalogue-label">
            <div class="bj-catalogue-label__icon">
              <img src="/template/images/icons/delivery.gif" class="img-responsive center-block">
              Технология AquaStop
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <hr class="i-size-L">

    <div class="item-details-accordeon">
      <div class="collapsing-block">
        <h3>Описание</h3>
        <div class="collapsing-content">
        <div class="inner">
          <p>Мужская зимняя куртка DK NAVY тёмно-синего цвета  Классическая Куртка ABSOLUTEX</p>
        </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h3>Детали</h3>
        <div class="collapsing-content">
          <div class="inner">
            <p>Артикул: 4003 DK NAVY<br>
              Состав: 100% полиэстер.<br>
              Сезон: Зима<br>
              Страна производитель: РОССИЯ<br>
            </p>
          </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h3>Силуэт</h3>
        <div class="collapsing-content">
          <div class="inner">
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <img src="/upload/silouette.png" alt="Классический">
              </div>
              <div class="col-sm-6">
                <h4>Классический силуэт (Прямой, Classic)</h4>
                <p>Классический консервативный силуэт, можно сказать, вечная классика. Вещи ориентированы на взрослых покупателей или людей плотного телосложения. Модели второй и третьей полнотной группы.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h3>Доставка и возврат</h3>
        <div class="collapsing-content">
          <div class="inner">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cupiditate ad necessitatibus iure error ab eveniet impedit aut. Corrupti deserunt laboriosam eligendi iusto veniam perspiciatis commodi eos eaque hic, asperiores.</p>
          </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h3>Отзывы</h3>
        <div class="collapsing-content">
          <div class="inner">
            <!--#include virtual="/components/bx.catalog.element.comments/template.html"-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="item-feedback">
      Если у вас есть вопросы, пожалуйста, позвоните нашим операторам! <br> <strong>8 (495) 281-52-52</strong>
    </div>

    <section class="item-socialnav">
      <h1>ПОДЕЛИТЕСЬ</h1>
      <ul class="item-socialnav-icons"><li class="facebook"><a href="http://" target="_blank" title="Facebook"><span>Facebook</span></a></li><li class="vkontakte"><a href="http://" target="_blank" title="Vkontakte"><span>Vkontakte</span></a></li><li class="pinterest"><a href="http://" target="_blank" title="Pinterest"><span>Pinterest</span></a></li><li class="google"><a href="http://" target="_blank" title="Google+"><span>Google+</span></a></li></ul>
    </section>


  </article>
</div>