<div class="col-sm-6 item-information">

  <article>

    <div class="item-features">
    
      <!--#include virtual="/components/bx.catalog.element/colors-size.html"-->
      <hr class="i-size-S">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <a href="">Таблица размеров</a>
        </div>
      </div>
    </div>

    <h3>Описание</h3>
    <p>Классический костюм, Slim fit (прилегающий) силуэт. Ткань чёрного цвета в тонкую полоску. Пиджак застёгивается на 2 петли и пуговицы, 1 нагрудный карман листочка, 2 боковых кармана с клапанами. По спинке 2 шлицы...</p>
    
    <hr>
    
    <a href="" class="btn btn-primary">Добавить в корзину</a>
    <a href="" class="btn btn-default">Подробнее</a>

  </article>
</div>