<link href="/components/bx.catalog.element/style.css" rel="stylesheet">
<script src="/components/bx.catalog.element/script.js"></script>

<div class="row b-modal-head">
  <div class="col-sm-8">
    <h2 class="h1">Плащ мужской Absolutex</h2>
  </div>
  <div class="col-sm-4">
    <span class="text-muted">Aртикул: 0001429</span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" title="Закрыть"></span></button>
  </div>
</div>

<hr class="i-line">

<div class="bx_item_detail">

	<div class="row">
			
		<div class="col-sm-6">
			<!--#include virtual="/components/bx.catalog.element/gallery.html"-->
		</div>
		
		<hr class="visible-xs-block">
	
    <!--#include virtual="/components/bx.catalog.element/information-modal.html"-->

	</div>

</div>