<link href="/components/bx.catalog.element/style.css" rel="stylesheet">
<script src="/components/bx.catalog.element/script.js"></script>

<div class="row">
  <div class="col-sm-8">
    <h1>Куртка Dirty Dayri</h1>
    <h1 class="i-small">Куртка Dirty Dayri Куртка Dirty Dayri Куртка Dirty Dayri</h1>
  </div>
  <div class="col-sm-4">
    <a href="../" class="back-to-catalogue">Вернуться в каталог</a>
  </div>
</div>

<div class="bx_item_detail">

	<div class="row">
			
		<div class="col-sm-5 col-md-6">
			<!--#include virtual="/components/bx.catalog.element/gallery.html"-->
		</div>
		
		<hr class="visible-xs-block">
	
    <!--#include virtual="/components/bx.catalog.element/information.html"-->

	</div>

</div>