<link href="/components/bx.catalog.section/style.css" rel="stylesheet">
<script src="/components/bx.catalog.section/custom.js"></script>

<div class="bx_catalog_top_home">

	<div class="row">
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<!--new-->
					<div class="bj-product-card__wrapper">
					<!--new end-->
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<!-- new block -->
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount">-30%</span>
								<span class="i-sep"></span>
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
						<!-- end -->
					
					<!--new-->
					</div>
					<!--new end-->
			
					<!--new label
					<div class="i-relative">
						<span class="bj-product-card__label">
							<span class="bj-product-card__label__content"><span>В наличии: 1 шт. dasdsadsadsadsads</span></span>
						</span>
					</div>
					new end-->
					
					<!--new-->
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна в комплекте с чёрной футболкой</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
              <!-- show button -->
              <a class="btn btn-default b-show-element-detail hidden-xs" href="/components/bx.catalog.element/template-modal.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_6_modal">Быстрый просмотр</a>
<!-- Modal -->
<div class="modal fade" id="bx_1891167135_6_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content"></div>
  </div>
</div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Подробнее</a>
						</div>
					</div>
					<!--new end-->
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<!--new-->
					<div class="bj-product-card__wrapper">
					<!--new end-->
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<!-- new block -->
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
						<!-- end -->
			
					<!--new-->
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
							<!-- show button -->
              <a class="btn btn-default b-show-element-detail hidden-xs" href="/components/bx.catalog.element.comments/template.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_7_modal">Быстрый просмотр</a>
							<!-- add visible-xs-inline-block -->
<!-- Modal -->
<div class="modal fade" id="bx_1891167135_7_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content"></div>
  </div>
</div>
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Подробнее</a>
						</div>
					</div>
					<!--new end-->
          
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<!--new-->
					<div class="bj-product-card__wrapper">
					<!--new end-->
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<!-- new block -->
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-new">Новинка</span>
							</div>
						</div>
						<!-- end -->
			
					<!--new-->
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
							<!-- show button -->
              <a class="btn btn-default b-show-element-detail hidden-xs" href="/components/bx.forms.auth/template.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_8_modal">Быстрый просмотр</a>
<!-- Modal -->
<div class="modal fade" id="bx_1891167135_8_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content"></div>
  </div>
</div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Подробнее</a>
						</div>
					</div>
					<!--new end-->
          
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<!--new-->
					<div class="bj-product-card__wrapper">
					<!--new end-->
						<a href="/catalogue/group/group/item/" class="bj-product-card__img__shutter"><i></i></a>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="картинка Штаны Цветочная Поляна магазин Одежда+ являющийся официальным дистрибьютором в России ">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
						<!-- new block -->
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount">-30%</span>
							</div>
						</div>
						<!-- end -->
						
					<!--new-->
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="bj-product-card__wrapper">
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Штаны цветочная поляна</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="text-large text-info bx_price">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
							<!-- show button -->
              <a class="btn btn-default b-show-element-detail hidden-xs" href="/components/news-feed/template.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_9_modal">Быстрый просмотр</a>
<!-- Modal -->
<div class="modal fade" id="bx_1891167135_9_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content"></div>
  </div>
</div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Подробнее</a>
						</div>
					</div>
					<!--new end-->
					
				</div>
			</div>
		</div>
		
  </div>
	
</div>
