<link href="/components/bx.catalog.section/style.css" rel="stylesheet">
<script src="/components/bx.catalog.section/custom.js"></script>

<div class="bx_catalog_top_home">

	<div class="row">
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
            
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount"></span>
								<span class="bj-product-card__info__i i-amount">1</span>
								<span class="bj-product-card__info__i i-new"></span>
							</div>
						</div>
            
						<span class="bj-product-card__img__shutter">
              <span class="bj-product-card__img__shutter__inner">
                <a class="btn btn-default btn-size-L btn-100 btn-inverse b-show-element-detail hidden-xs" href="/components/bx.catalog.element/template-modal.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_6_modal">Посмотреть</a>
              </span>
            </span>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
					</div>
          
					<div class="bj-product-card__wrapper">
            <div class="bj-product-card__brand text-center">Absolutex</div>
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Мужская куртка</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="bx_price text-large">3 450 р.</div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
              <!-- Modal -->
              <div class="modal fade" id="bx_1891167135_6_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content"></div>
                </div>
              </div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					<!--new end-->
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
            
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount"></span>
								<span class="bj-product-card__info__i i-amount">1</span>
								<span class="bj-product-card__info__i i-new"></span>
							</div>
						</div>
            
						<span class="bj-product-card__img__shutter">
              <span class="bj-product-card__img__shutter__inner">
                <span class="btn btn-default btn-size-L btn-100 btn-inverse b-show-element-detail hidden-xs" href="/components/bx.catalog.element/template-modal.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_6_modal">Посмотреть</span>
              </span>
            </span>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
					</div>
          
					<div class="bj-product-card__wrapper">
            <div class="bj-product-card__brand text-center">Absolutex</div>
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Мужская полуприлегающая куртка DUGLAS STEEL голубого цвета</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="bx_price text-large">3 450 р.</div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
              <!-- Modal -->
              <div class="modal fade" id="bx_1891167135_6_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content"></div>
                </div>
              </div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					<!--new end-->
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
            
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount"></span>
								<span class="bj-product-card__info__i i-amount">1</span>
								<span class="bj-product-card__info__i i-new"></span>
							</div>
						</div>
            
						<span class="bj-product-card__img__shutter">
              <span class="bj-product-card__img__shutter__inner">
                <span class="btn btn-default btn-size-L btn-100 btn-inverse b-show-element-detail hidden-xs" href="/components/bx.catalog.element/template-modal.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_6_modal">Посмотреть</span>
              </span>
            </span>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
					</div>
          
					<div class="bj-product-card__wrapper">
            <div class="bj-product-card__brand text-center">Absolutex</div>
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Мужская полуприлегающая куртка DUGLAS STEEL голубого цвета</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="bx_price text-danger text-large">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
              <!-- Modal -->
              <div class="modal fade" id="bx_1891167135_6_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content"></div>
                </div>
              </div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					<!--new end-->
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
		
			<div class="bx_catalog_item double">
				<div class="bx_catalog_item_container" id="bx_1891167135_6">
				
					<div class="bj-product-card__wrapper">
            
						<div class="i-relative">
							<div class="bj-product-card__info">
								<span class="bj-product-card__info__i i-discount"></span>
								<span class="bj-product-card__info__i i-amount">1</span>
								<span class="bj-product-card__info__i i-new"></span>
							</div>
						</div>
            
						<span class="bj-product-card__img__shutter">
              <span class="bj-product-card__img__shutter__inner">
                <span class="btn btn-default btn-size-L btn-100 btn-inverse b-show-element-detail hidden-xs" href="/components/bx.catalog.element/template-modal.html" rel="nofollow" data-toggle="modal" data-target="#bx_1891167135_6_modal">Посмотреть</span>
              </span>
            </span>
						<a id="bx_1891167135_6_pict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div></a> 
					
						<a id="bx_1891167135_6_secondpict" href="/catalog/pants/pants-flower-glade/" class="bx_catalog_item_images_double" style="background-image: url(/upload/catalogue/photo.jpg);" title="Брюки мужские">
						<div id="bx_1891167135_6_second_dsc_perc" class="bx_stick_disc right bottom" style="display: none;">-0%</div>
						</a>
					
					</div>
          
					<div class="bj-product-card__wrapper">
            <div class="bj-product-card__brand text-center">Absolutex</div>
						<div class="bj-product-card__title bj-table bx_catalog_item_title">
							<div class="bj-table-row">
								<div class="bj-table-cell">
									<span class="bj-product-card__title__wrapper">
										<a href="/catalogue/group/group/item/">Мужская полуприлегающая куртка DUGLAS STEEL голубого цвета</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<!--new end-->
					
					<!--new-->
					<div class="row bj-product-card__cart">
						<div class="text-center bj-product-card__price bj-price bx_catalog_item_price">
							<div id="bx_1891167135_6_price" class="bx_price text-danger text-large">3 450 р.</div>
							<div class="text-small"><s>3 450 р.</s></div>
						</div>
            <hr class="i-size-S">
						<div class="text-center">
              <!-- Modal -->
              <div class="modal fade" id="bx_1891167135_6_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content"></div>
                </div>
              </div>
							<!-- add visible-xs-inline-block -->
							<a class="btn btn-default visible-xs-inline-block" href="/catalogue/group/group/item/">Купить</a>
						</div>
					</div>
					<!--new end-->
					
				</div>
			</div>
		</div>
		
  </div>
	
</div>
