<link href="/components/catalog.information/style.css" rel="stylesheet">

<div class="col-sm-6 item-information">
  <a href="#/sasha/back-to-catalogue" class="back-to-catalogue">Вернуться в каталог</a>

  <article>
    <h2 class="item-brand">Absolutex</h2>
    <div class="item-artikul">Артикул: 0001429</div>
    <h1 class="item-name">Плащ мужской</h1>

    <div class="item-features">
      <dl>
        <dt class="item-prices">Цена</dt>
        <dd><span class="item-old_price"><del>6500 <span class="rouble">Р</span></del></span> <span class="item-new_price">4999 <span class="rouble">Р</span></span></dd>
        <dt class="item-colors">Цвет</dt>
        <dd>
          <input data-color="#000000" type="radio" id="color_1" name="color">
          <label for="color_1">Черный</label>
          <input data-color="#874141" type="radio" id="color_2" name="color">
          <label for="color_2">Красный</label>
          <input data-color="#466b91" type="radio" id="color_3" name="color">
          <label for="color_3">Синий</label>
          <input data-color="#4a9999" type="radio" id="color_4" name="color">
          <label for="color_4">Зеленый</label>
        </dd>
        <dt class="item-sizes">Размеры</dt>
        <dd>
          <select name="item-sizes" id="item-sizes" class="selectpicker">
            <option value="" selected disabled>Выберите размер...</option>
            <option value="42">42</option>
            <option value="44">44</option>
            <option value="46">46</option>
            <option value="48">48</option>
            <option value="50">50</option>
            <option value="52">52</option>
          </select>
        </dd>
      </dl>
    <a href="javascript:void(0);" class="btn btn-default btn-size-L btn-100 bj-cart-button" id="bx_117848907_2676_buy_link"><span></span>Добавить в корзину</a>
    </div>
    <figure class="item-banner">
      <img src="img/car.png" alt="Бесплатная доставка по всей России">
      <figcaption>Бесплатная доставка по всей России</figcaption>
    </figure>
    <figure class="item-banner">
      <img src="img/veshalka.png" alt="Примерка перед покупкой">
      <figcaption>Примерка перед покупкой</figcaption>
    </figure>

    <div class="item-details-accordeon">
      <div class="collapsing-block">
        <h2>Описание</h2>
        <div class="collapsing-content">
        <div class="inner">
          <p>Классический костюм, Slim fit (прилегающий) силуэт. Ткань чёрного цвета в тонкую полоску. Пиджак застёгивается на 2 петли и пуговицы, 1 нагрудный карман листочка, 2 боковых кармана с клапанами. По спинке 2 шлицы, которые придают особое изящество костюму. На подкладке обработано 3 кармана, 1 застёгивается на пуговицу, сама подкладка оригинального цветового решения и дизайна. Брюки с слегка заниженной талией, прямого покроя с традиционной застежкой, ширина брюк по низу = 19 см. На поясе предусмотрены шлевки для ремня. Строгий и одновременно стильный выбор современного мужчины.</p>
        </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h2>Детали</h2>
        <div class="collapsing-content">
        <div class="inner">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis libero, atque iusto illum quasi quisquam, asperiores. Magni alias vel quisquam, possimus, ut minima aliquam quas necessitatibus aliquid aspernatur excepturi id iste architecto. Quae vero, aut numquam asperiores et ipsum quod.</p>
        </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h2>Силуэт</h2>
        <div class="collapsing-content">
          <div class="inner">
            <img src="img/silouette.png" alt="Силуэт" class="item-img-left">
            <h3>Полуприталенный силуэт</h3>
            <p>Такой силуэт выглядит очень красиво и выгодно подчеркивает любую фигуру.</p>
          </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h2>Доставка и возврат</h2>
        <div class="collapsing-content">
          <div class="inner">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cupiditate ad necessitatibus iure error ab eveniet impedit aut. Corrupti deserunt laboriosam eligendi iusto veniam perspiciatis commodi eos eaque hic, asperiores.</p>
          </div>
        </div>
      </div>
      <div class="collapsing-block">
        <h2>Отзывы (3)</h2>
        <div class="collapsing-content">
          <div class="inner">
          </div>
        </div>
      </div>
    </div>
    
    <div class="item-feedback">
      Если у вас есть вопросы, пожалуйста, позвоните нашим операторам! <br> <strong>8 (495) 281-52-52</strong>
    </div>

    <section class="item-socialnav">
      <h1>Поделитесь</h1>
      <ul class="item-socialnav-icons"><li class="facebook"><a href="javascript:;"><span>Facebook</span></a></li><li class="vkontakte"><a href="javascript:;"><span>Vkontakte</span></a></li><li class="pinterest"><a href="javascript:;"><span>Pinterest</span></a></li><li class="google"><a href="javascript:;"><span>Google+</span></a></li></ul>
    </section>


  </article>
</div>