
<div class="i-relative container-fluid">
  <article>
    <div class="row">
      <div class="col-md-3">
        <h3><a href="/catalogue/group/">Одежда</a></h3>
        <menu>
          <li><a href="/catalogue/group/group/">Белье</a></li>
          <li><a href="/catalogue/group/group/">Белье</a></li>
          <li><a href="/catalogue/group/group/">Белье</a></li>
        </menu>
      </div>
      <div class="col-md-3">
        <h3><a href="/catalogue/group/">Обувь</a></h3>
        <menu>
          <li><a href="/catalogue/group/group/">Ботинки</a></li>
          <li><a href="/catalogue/group/group/">Ботинки</a></li>
          <li><a href="/catalogue/group/group/">Ботинки</a></li>
        </menu>
      </div>
      <div class="col-md-3">
        <h3><a href="/catalogue/group/">Аксессуары</a></h3>
        <menu>
          <li><a href="/catalogue/group/group/">Ремни</a></li>
          <li><a href="/catalogue/group/group/">Ремни</a></li>
          <li><a href="/catalogue/group/group/">Ремни</a></li>
        </menu>
      </div>
    </div>
    <button class="up"></button>
  </article>
</div>