.b-asobio-subnav{min-height:60px;height:auto}
.b-asobio-subnav .bj-top-subnav{text-align:left}
.b-asobio-subnav .bj-top-subnav:before{display:none}
.b-asobio-subnav .bj-top-subnav a{width:16.666666666666666666666666666667%;padding:0 15px 0 49px;line-height:60px !important;height:60px !important;margin:-10px 0 -9px;text-align:center;background-color:#fff;background-repeat:no-repeat;background-position:20px center;-webkit-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease;border-left:1px solid #f2f2f2}
.b-asobio-subnav .bj-top-subnav a:last-child{border-right:1px solid #f2f2f2;border-left:1px solid #f2f2f2;}
.b-asobio-subnav .bj-top-subnav a:hover{background-color:#f2f2f2}
.bj-top-decoration-in-menu{position:relative;top:1px;  margin-top: -1px;  border-top: 1px solid #f2f2f2;}

@media (max-width:767px){
	.b-asobio-subnav .bj-top-subnav a{width:50%;margin:0;border-top:1px solid #f2f2f2}
	.b-asobio-subnav .container-fluid{padding:0;}
	.bj-top-decoration{margin:0 -10px;}
	.bj-page-header__submenu{padding:0;margin-top:-1px;}
}
