
<!-- start /components/asobio-subnav/-->
<link rel="stylesheet" href="/components/asobio-subnav/style.css"/>
<script src="/components/asobio-subnav/script.js"></script>
<section data-rel="1" class="bj-page-header__dropdown b-asobio-subnav__dropdown">
  <div class="i-relative container-fluid">
    <article>
      <div class="row">
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Одежда</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Обувь</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Аксессуары</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
          </menu>
        </div>
      </div>
      <button class="up"></button>
    </article>
  </div>
</section>
<section data-rel="2" class="bj-page-header__dropdown b-asobio-subnav__dropdown">
  <div class="i-relative container-fluid">
    <article>
      <div class="row">
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Одежда</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Обувь</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Аксессуары</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
          </menu>
        </div>
      </div>
      <button class="up"></button>
    </article>
  </div>
</section>
<section data-rel="3" class="bj-page-header__dropdown b-asobio-subnav__dropdown">
  <div class="i-relative container-fluid">
    <article>
      <div class="row">
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Одежда</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Обувь</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Аксессуары</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
          </menu>
        </div>
      </div>
      <button class="up"></button>
    </article>
  </div>
</section>
<section data-rel="4" class="bj-page-header__dropdown b-asobio-subnav__dropdown">
  <div class="i-relative container-fluid">
    <article>
      <div class="row">
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Одежда</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
            <li><a href="/catalogue/group/group/">Белье</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Обувь</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
            <li><a href="/catalogue/group/group/">Ботинки</a></li>
          </menu>
        </div>
        <div class="col-md-3">
          <h3><a href="/catalogue/group/">Аксессуары</a></h3>
          <menu>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
            <li><a href="/catalogue/group/group/">Ремни</a></li>
          </menu>
        </div>
      </div>
      <button class="up"></button>
    </article>
  </div>
</section>
<section class="bj-page-header__submenu b-asobio-subnav">
  <div class="container-fluid">
    <nav class="bj-top-subnav">
		<a href="/catalogue/group/" data-rel="1" style="background-image: url(/template/images/clothes.png);">Одежда</a>
		<a href="/catalogue/group/" data-rel="2" style="background-image: url(/template/images/accesories.png);">Аксессуары</a>
		<a href="/catalogue/group/" data-rel="3" style="background-image: url(/template/images/shoes.png);">Обувь</a>
		<a href="/catalogue/group/" data-rel="4" style="background-image: url(/template/images/b.png);">Бренды</a>
		<a href="/catalogue/group/" data-rel="5" style="background-image: url(/template/images/percent.png);">Распродажа</a>
		<a href="/catalogue/group/" data-rel="6" style="background-image: url(/template/images/molot.png);">Акции</a>
	</nav>
  </div>
  
</section>
<div class="bj-top-decoration-in-menu"></div>
<!-- end /components/asobio-subnav/-->